JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256

# Override these with your deployed service URLs
AUTH_SERVICE_URL=http://auth-service:5002
CONTENT_SERVICE_URL=http://content-service:5003
PRACTICE_SERVICE_URL=http://practice-service:5004
CONVERT_SERVICE_URL=http://convert-service:5005
ASL_SERVICE_URL=https://asl-alphabet-detection.onrender.com
ISL_SERVICE_URL=https://isl-alphabet-detection.onrender.com
